// Variable para colores y fuentes
$bg-body: #FBB1EF;
$fuente-grande: 3rem;
$fuente-chica: 1rem;
$letra-clara: #fff;

// Tamaños de media queries
$pantalla-chica: 480px;
$pantalla-mediana: 768px;
$pantalla-grande: 992px;
$pantalla-xg: 1200px;